.git
.gitignore
.idea
README*
Vagrantfile
*.iml
vagrant-libs/
.DS_Store
.editorconfig
.gitlab-ci.yml
docker-cloud.yml-DEV
docker-compose.yml
*.log
.vagrant/
/vendor/*
/config/app.php
/tmp/*
/logs/*
/config/Migrations/*.lock
/webroot/files/
